.avatar-block{
    border: 2px solid rgb(113, 212, 14);
    border-radius: 50%;
    width: 400px;
    height: 400px;
    margin: 0 auto;
    margin-top: 20px;
    text-align: center;
    padding: auto;
    overflow: hidden;
    

}