.button-close{
    position: absolute;
    min-height: 30px;
    min-width: 30px;
    top: 20px;
    right: 20px;
    background-color: rgba(0, 0, 0, 0);
    z-index: 5;
    outline: none;
    border:none;
    transition: transform linear .2s;
}

.button-close:hover{
    transform: scale(1.1);
}