<head>
    <link rel="stylesheet" href="../styles/header.css">
</head>
<header class="header">
    <div class="header__logo">Spoad</div>
    <nav class="header__nav">
        <div class="header__nav-elem"><a class="header__link" href="#">GitHub</a></div>
        <div class="header__nav-elem"><a class="header__link" href="#">AWS</a></div>        
    </nav>
    <div class="header__block-image"><a href="#"><img class="header__icon-notification" src="../images/alarm_alert_attention_bell_clock_notification_ring_icon_123203.svg" alt="иконка уведомлений"> </a></div>
    <div class="header__dropdown">
        <button class="header__dropbtn"><img class="header__icon-menu" src="../images/Menu_icon_2_icon-icons.com_71856.svg" alt="иконка меню"></button>
        <div class="header__dropdown-content">
            <a class="header__dropdown-link" href="#">Your profile</a>
            <a class="header__dropdown-link" href="#">Settings</a>
            <a class="header__dropdown-link" href="#">Sign out</a>
        </div>
    </div>

</header>