.table__cell{
    margin: 0;
    padding: 7px;
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    box-sizing: border-box;
}