.block-readme__main-block{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 20px;
    max-width: 100%;
}