.filter__dropdown{
    right: 10px;
    top: 10px;
    display: inline-block;
    
}

.filter__dropdown:hover .filter__dropdown-link {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    
}