.block-btns__item{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    color: white;
    border: none;
    background-color: rgb(157, 226, 88);
    border-radius: 5px;
    font-size: 23px;
    font-weight: 700;
    transition: background-color linear .3s;
}

.block-btns__item:hover{
    background-color: rgb(113, 212, 14);
}

