
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../pages/git-home-page.css">
    <title>Document</title>
</head>
<body>
    <header class="header">
        <div class="header__logo"><a href="/home" class="header__home-link"> Spoad </a></div>
        <nav class="header__nav">
            <div class="header__nav-elem git-home-page__button-git"><a class="header__link " href="#">GitHub</a></div>
            <div class="header__nav-elem"><a class="header__link" href="#">AWS</a></div>        
        </nav>
        <div class="header__block-image"><a href="#"><img class="header__icon-notification" src="../images/alarm_alert_attention_bell_clock_notification_ring_icon_123203.svg" alt="иконка уведомлений"> </a></div>
        <div class="header__dropdown">
            <button class="header__dropbtn"><img class="header__icon-menu" src="../images/Menu_icon_2_icon-icons.com_71856.svg" alt="иконка меню"></button>
            <div class="header__dropdown-content">
                <a class="header__dropdown-link" href="#">Your profile</a>
                <a class="header__dropdown-link" href="#">Settings</a>
                <a class="header__dropdown-link" href="#">Sign out</a>
            </div>
        </div>
    </header>
    <main class="git-home-page">
        <div class="track">
            <a class="track__point" href="#">Spoad</a>
            <img class="track__icon" src="../images/up-arrow_icon-icons.com_73351.svg">
            <a class="track__point" href="#">GitHub</a>
        </div>
        <div class="content">
            <div class="content__information">
                <div class="avatar-block"><img src="../images/pngwing.com.png" class="avatar" alt="аватарка пользователя"></div>
                <p class="login">stich_38948</p>
            </div>
            <div class="content__repositories"></div>
            <div class="content__menu"></div>

        </div>
    </main>
    
</body>
