
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../pages/git-home-page.css">
    <title>Document</title>
</head>
<body>
    <header class="header">
        <div class="header__logo"><a href="/home" class="header__home-link"> Spoad </a></div>
        <nav class="header__nav">
            <div class="header__nav-elem git-home-page__button-git"><a class="header__link " href="#">GitHub</a></div>
            <div class="header__nav-elem"><a class="header__link" href="#">AWS</a></div>        
        </nav>
        <div class="header__block-image"><a href="#"><img class="header__icon-notification" src="../images/alarm_alert_attention_bell_clock_notification_ring_icon_123203.svg" alt="иконка уведомлений"> </a></div>
        <div class="header__dropdown">
            <button class="header__dropbtn"><img class="header__icon-menu" src="../images/Menu_icon_2_icon-icons.com_71856.svg" alt="иконка меню"></button>
            <div class="header__dropdown-content">
                <a class="header__dropdown-link" href="#">Your profile</a>
                <a class="header__dropdown-link" href="#">Settings</a>
                <a class="header__dropdown-link" href="#">Sign out</a>
            </div>
        </div>
    </header>
    <main class="git-home-page">

        <div class="gitoad_content">
            <section class="content__information">
                <div class="avatar-block"><img src="../images/pngwing.com.png" class="avatar" alt="аватарка пользователя"></div>
                <p class="login">stich_38948апираприкеарри</p>
                <button class="button-edit-profile" name="button" type="button">Edit profile</button>
            </section>
            <section class="content__repositories">
                <div class="input-block">
                    <input name="q" placeholder="Find a repositoty..." type="search" class="input-block__search">
                    <div class="input-block__dropbtns">
                        <div class="input-block__dropdown-block">
                            <button class="input-block__dropbtn"><p>Type </p><img class="input-block__icon" src="../images/icons8-шеврон-вверх-в-круге-30.png.svg" alt="иконка срелки вниз"></button>
                            <div class="input-block__dropdown-content">
                                <button class="input-block__dropdown-button" href="#">All</button>
                                <button class="input-block__dropdown-button" href="#">Public</button>
                                <button class="input-block__dropdown-button" href="#">Private</button>
                                <button class="input-block__dropdown-button" href="#">Sources</button>
                                <button class="input-block__dropdown-button" href="#">Forks</button>
                                <button class="input-block__dropdown-button" href="#">Archived</button>
                                <button class="input-block__dropdown-button" href="#">Mirrors</button>
                                <button class="input-block__dropdown-button" href="#">Templates</button>
                            </div>
                        </div>
                   
                        <div class="input-block__dropdown-block">
                            <button class="input-block__dropbtn">Language <img class="input-block__icon" src="../images/icons8-шеврон-вверх-в-круге-30.png.svg" alt="иконка срелки вниз"></button>
                            <div class="input-block__dropdown-content">
                                <button class="input-block__dropdown-button" href="#">All</button>
                                <button class="input-block__dropdown-button" href="#">CSS</button>
                                <button class="input-block__dropdown-button" href="#">HTML</button>
                                <button class="input-block__dropdown-button" href="#">Java</button>
                                <button class="input-block__dropdown-button" href="#">C++</button>
                                <button class="input-block__dropdown-button" href="#">C#</button>
                                <button class="input-block__dropdown-button" href="#">Java Script</button>
                                <button class="input-block__dropdown-button" href="#">Python</button>
                            </div>
                        </div>

                        <div class="input-block__dropdown-block">
                            <button class="input-block__dropbtn">Sort <img class="input-block__icon" src="../images/icons8-шеврон-вверх-в-круге-30.png.svg" alt="иконка срелки вниз"></button>
                            <div class="input-block__dropdown-content">
                                <button class="input-block__dropdown-button" href="#">Last updated</button>
                                <button class="input-block__dropdown-button" href="#">Name</button>
                            </div>
                        </div>
                    </div>
                    <div class="input-block__button-new"><a href="#" class="input-block__link"> New</a></div>
                </div>
                <ul class="table">
                    <li class="table__cell">
                        <div class="table__column">
                            <a class="table__rep-name" href="#">Russian-travel</a>
                            <p class="table__rep-description">Проект: Путешествие по России</p>
                        </div>
                        <div class="table__block-active">Public</div>
                        <div class="table__lang-block">
                            <div class="table__lang-row">
                                <div class="table__circle table__circle_color_red"></div>
                                <div class="table__main-lang ">HTML</div>
                            </div>
                            <div class="table__lang-row">
                                <div class="table__circle table__circle_color_orange"></div>
                                <div class="table__main-lang">CSS</div>
                            </div>
                        </div>
                    </li>
                    <li class="table__cell">
                        <div class="table__column">
                            <a class="table__rep-name" href="#">Russian-travel</a>
                            <p class="table__rep-description">Проект: Путешествие по России</p>
                        </div>
                        <div class="table__block-active">Public</div>
                        <div class="table__lang-block">
                            <div class="table__lang-row">
                                <div class="table__circle table__circle_color_red"></div>
                                <div class="table__main-lang ">HTML</div>
                            </div>
                        </div>
                    </li>
                    <li class="table__cell">
                        <div class="table__column">
                            <a class="table__rep-name" href="#">Russian-travel</a>
                            <p class="table__rep-description">Проект: Путешествие по России</p>
                        </div>
                        <div class="table__block-active">Private</div>
                        <div class="table__lang-block">
                            <div class="table__lang-row">
                                <div class="table__circle table__circle_color_red"></div>
                                <div class="table__main-lang ">HTML</div>
                            </div>
                            <div class="table__lang-row">
                                <div class="table__circle table__circle_color_orange"></div>
                                <div class="table__main-lang">CSS</div>
                            </div>
                            <div class="table__lang-row">
                                <div class="table__circle table__circle_color_purple"></div>
                                <div class="table__main-lang">JS</div>
                            </div>
                        </div>
                    </li>
                </ul>

            </section>
        </div>
    </main>
    
</body>
