<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../pages/repository.css">
    <title>Document</title>
</head>

<body>
    <header class="header">
        <div class="header__logo"><a href="/home" class="header__home-link"> Spoad </a></div>
        <nav class="header__nav">
            <div class="header__nav-elem git-home-page__button-git"><a class="header__link " href="#">GitHub</a></div>
            <div class="header__nav-elem"><a class="header__link" href="#">AWS</a></div>
        </nav>
        <div class="header__block-image"><a href="#"><img class="header__icon-notification"
                    src="../images/alarm_alert_attention_bell_clock_notification_ring_icon_123203.svg"
                    alt="иконка уведомлений"> </a></div>
        <div class="header__dropdown">
            <button class="header__dropbtn"><img class="header__icon-menu"
                    src="../images/Menu_icon_2_icon-icons.com_71856.svg" alt="иконка меню"></button>
            <div class="header__dropdown-content">
                <a class="header__dropdown-link" href="#">Your profile</a>
                <a class="header__dropdown-link" href="#">Settings</a>
                <a class="header__dropdown-link" href="#">Sign out</a>
            </div>
        </div>
    </header>
    <main class="repository">
        <section class="track">
            <a class="track__point" href="#">Spoad</a>
            <img class="track__icon" src="../images/up-arrow_icon-icons.com_73351.svg">
            <a class="track__point" href="#">GitHub</a>
            <img class="track__icon" src="../images/up-arrow_icon-icons.com_73351.svg">
            <a class="track__point" href="#">Mesto</a>
        </section>
        <section class="content">
            <section class="files">
                <div class="block-settings">
                    <div class="block-settings__branches">
                        <div class="block-settings__nav-branches">
                            <button class="block-settings__dropbtn">main</button>
                            <div class="block-settings__dropdown-content">
                                <a class="block-settings__dropdown-link" href="#">main</a>
                                <a class="block-settings__dropdown-link" href="#">fixed</a>
                            </div>
                        </div>
                    </div>
                    <div class="block-settings__info-number">
                        <p class="block-settings__info-text"><img class="block-settings__icon"
                                src="../images/icons8-слияние-веток-в-git-50-_1_.svg" alt="иконка веток гита">2 branches
                        </p>
                    </div>
                </div>
                <div class="block-btns">
                    <button class="block-btns__item">Go to file</button>
                    <div class="block-btns__branches">
                        <div class="block-btns__nav-branches">
                            <button class="block-btns__item">Add file</button>
                            <div class="block-btns__dropdown-content">
                                <a class="block-btns__dropdown-link" href="#">Create new file</a>
                                <a class="block-btns__dropdown-link" href="#">Upload files</a>
                            </div>
                        </div>
                    </div>
                    <div class="block-btns__branches">
                        <div class="block-btns__nav-branches">
                            <button class="block-btns__item">
                                <> Code
                            </button>
                            <div class="block-btns__dropdown-content">
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="info">
                <div class="info__block-settings">
                    <button class="info__btn-settings"><img class="info__icon" src="../images/icons8-настройки-50.svg" alt="иконка  настрек"></button>
                </div>
                <div class="info__langs">
                    <div class="info__langs-line"></div>
                </div>
            </section>
            <div>
                <section class="main-grid">
                    <div class="main-grid__line-com">
                        <p class="main-grid__text-com"><img class="main-grid__icon" src="../images/icons8-таймер-50.svg"
                                alt="иконка коммитов"> 20 commits</p>
                    </div>
                    <div class="grid-files">
                        <div class="grid-files__line-item">
                            <a class="grid-files__item-title" href="#"><img class="grid-files__item-icon"
                                    src="../images/icons8-файл-24.svg" alt="иконка файла\папки">name</a>
                            <p class="grid-files__item-last-com">fix bugs</p>
                            <p class="grid-files__item-time">2 days ago</p>
                        </div>
                        <div class="grid-files__line-item">
                            <a class="grid-files__item-title" href="#"><img class="grid-files__item-icon"
                                    src="../images/icons8-файл-24.svg" alt="иконка файла\папки">name</a>
                            <p class="grid-files__item-last-com">fix bugs</p>
                            <p class="grid-files__item-time">2 days ago</p>
                        </div>
                        <div class="grid-files__line-item">
                            <a class="grid-files__item-title" href="#"><img class="grid-files__item-icon"
                                    src="../images/icons8-файл-24.svg" alt="иконка файла\папки">name</a>
                            <p class="grid-files__item-last-com">fix bugs</p>
                            <p class="grid-files__item-time">2 days ago</p>
                        </div>
                        <div class="grid-files__line-item">
                            <a class="grid-files__item-title" href="#"><img class="grid-files__item-icon"
                                    src="../images/icons8-папка-50.svg" alt="иконка файла\папки">name</a>
                            <p class="grid-files__item-last-com">fix bugs</p>
                            <p class="grid-files__item-time">2 days ago</p>
                        </div>
                    </div>
                </section>
                <section class="block-readme">
                    <div class="block-readme__line">
                        <div class="block-readme__block">
                            <div class="block-readme__dropblock">
                                <button class="block-readme__btn"><img class="block-readme__icon" src="../images/Menu_icon_2_icon-icons.com_71856.svg" alt="иконка readme"></button>
                                <div class="block-readme__dropdown-content">
                                    <a href="#h1" class="block-readme__dropdown-link">H1</a>
                                    <a href="#h2" class="block-readme__dropdown-link">H2</a>
                                    <a href="#h3" class="block-readme__dropdown-link">H3</a>
                                    <a href="#h4" class="block-readme__dropdown-link">H4</a>
                                    <a href="#h5" class="block-readme__dropdown-link">H5</a>
                                    <a href="#h6" class="block-readme__dropdown-link">H6</a>
                                </div>
                            </div>
                            <p class="block-readme__title">README.md</p>
                        </div>
                        <a class="block-readme__link-edit" href="#"><img class="block-readme__icon-edit" src="../images/icons8-карандаш-24.svg" alt="иконка для редактирования"></a>
                    </div>
                    <div class="block-readme__main-block">
                        <h1 class="block-readme__text block-readme__text_type_h1" id="h1">H1 ;dfuvbh;godif odifh gaperu gapdsuf pordupsfuv ap soudf asefu89osdifv airsud fa9ofui a sdr9u fseuf............. ...............................iIIIIIIIIIIIIIIIII IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII IIIIIIIIIIIIIIIIIII IIIIIIIIIIIIIIIIII IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII IIIIIIIIIIIIIIIIIIIIIIIIapo fva0weif a0</h1>
                        <h2 class="block-readme__text block-readme__text_type_h2" id="h2">H2 sadpokfviopsdfvi iou fi[ 9oeiroi poiserf ied fa0eijk'so ncfo oseiae fiwer d0oweird WEID 0W89 IKSPOEID R0WE </h2>
                        <h3 class="block-readme__text block-readme__text_type_h3" id="h3">H3 IKWER;OWEUR FIJD CAEWIURF7W 4IOUEWR BW8E 39WUE7R VW[0EY</h3>
                        <h4 class="block-readme__text block-readme__text_type_h4" id="h4">H4 WOEUP'WUEI W9ERU7[0W U9Awur9eudoijsfdjkfjikuruujfjjjj jjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjj</h4>
                        <h5 class="block-readme__text block-readme__text_type_h5" id="h5">H5 rfgvjuuuuuuujjjjjjjjjjjjjjjjjjjjjj jjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjj</h5>
                        <h6 class="block-readme__text block-readme__text_type_h6" id="h6">H6 rfgvjuuuuuuujjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjj</h6>
                        <p class="block-readme__text block-readme__text_type_p" id="p">P rfgvjuuuuuuujjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjj</p>
                        <a class="block-readme__text block-readme__text_type_a" href="#" id="a">A rfgvjuuuuuuujjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjj</a>
                    </div>
                </section>
            </div>
        </section>
    </main>