.content-rep{
    margin: 0 auto;
    padding: 0;
    display: grid;
    grid-template-columns: 4fr 1fr;
    width: 90%;
    margin-top: 40px;
    
}

.frog {
    height: auto;
    width: 100px;
    margin-left: 40%;
}
